#section {
    margin: 0;
    padding: 0;
    width: 100%;
    color: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 75vh;
}

#section > nav {
    padding: 0.5em;
    width: 30%;
}

#section >article {
    padding: 0.5em;
    width: 70%;
}

.light_mode #section > * {
    background-color: #ececec;
}

.dark_mode #section > * {
    background-color: #0a0a0a;
}