article.chatbot {
    vertical-align: bottom;
    height: inherit;
}

.chatwrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    min-height: 0px;
    height: 66vh;
}

.chatScreen {
    width: 100%;
    overflow-y: auto;
}

.user_comment{
    padding: 2mm;
    margin: 5mm 1mm 2mm 40%;
    border-radius: 10px 10px 0 10px;
}

.bot_comment {
    padding: 2mm;
    margin: 5mm 40% 2mm 1mm;
    border-radius: 10px 10px 10px 0;
}

.light_mode #section .user_comment,.light_mode #section .bot_comment,.light_mode #section .bot_comment * {
    background-color: #efef00;
    text-decoration: none;
}

.dark_mode #section .user_comment,.dark_mode #section .bot_comment,.dark_mode #section .bot_comment * {
    background-color: #4f4f00;
    text-decoration: none;
}

.bot_comment p{
    margin: 0;
    padding: 2mm 0;
}

.textInputBox {
    display: flex;
    width: 100%;
    height: 6vh;
}

.random_btn {
    width: 32px;
    height: 100%;
    padding: 0;
    border : none;
    cursor: pointer;
}

.dark_mode .random_btn{
    filter: invert(40%);
}

.textInputBox > input {
    flex-grow: 1;
    height: 100%;
    font-size: 16px;
}

.dark_mode .textInputBox > input {
    background-color: #0a0a0a;
    color: #ececec;
}

.light_mode .textInputBox > input {
    background-color: #ececec;
    color: #0a0a0a;
}